.tile {
  display: flex;
  width: 2em;
  height: 2em;
}

.tile span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: #fff;
  cursor: pointer;
  height: 1rem;
  position: relative;
  text-align: center;
  width: 1rem;
}
